Brotli
click
colorama
dash
dash-core-components
dash-html-components
dash-table
dnspython==2.2.1
Flask
Flask-Compress
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
pymongo==4.1.1
python-dateutil
pytz
six
tenacity
Werkzeug
zipp
